body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-image: url('https://image.flaticon.com/icons/png/512/201/201635.png');
  background-color: #000000;
  background-size: 80vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}
  
p, h2, label{
  color: #ffffff;
}
.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.media {
  margin: 2% 10% auto;
}

.media>div{
  display: flex;
  flex-direction: column;
  margin: 2% 25% auto;
}

.media>div>label{
  text-align: start;
  padding: 2% 0 0;
}

#calcular{
  background: yellow;
  margin: 2% 0 0;
}

.page-title {
  color:#ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color:#ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}