body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-color: #000000;
  background-size: 80vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}
  
p, h2, label{
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.media {
  margin: 2% 10% auto;
}

.media>div{
  display: flex;
  flex-direction: column;
  margin: 2% 25% auto;
}

.media>div>label{
  text-align: start;
  padding: 2% 0 0;
}

.conversor>div{
  display: flex;
  flex-direction: column;
  margin: 2% 25% auto;
}

.adivinha>div{
  display: flex;
  flex-direction: column;
  margin: 2% 25% auto;
}

.links{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 30%;
  margin: 2%;

}

.links>a{
  padding: 2%;
  align-self: center;
  background-color: yellow;
  margin: 2%;
  width: 50%;
}

#media, #converte{
  margin: 2% 0 0;
  background: yellow;
}

#adivinha{
  background: #2378da;
  margin: 2% 0 0;
}

.page-title {
  color:#ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color:#ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}